*{
	padding: 0;
	margin: 0;
}
#collage{
	background-image: url(../img/gradiente-fondo.png);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}
.marco-foto{
	width: 30%;
	height: 30%;
	background: transparent;
	border-width: 3px;
	border-color: white;
}