*{
	padding: 0;
	margin: 0;
}
#collage{
	background-image: url(../img/gradiente-fondo.png);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}
.fotosA{
	display: inline-block;
}